:root{
    --bg-color: #16476A;
    --bg-secondary-color: #132440;
    --text-color:  #FFFFFF;
    --button-color: #3B9797;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

h2, li{
    color: #000;
}
li{
    margin-bottom: 5px;
}

.container{
    text-align: center;
    
}

.paperUI{
    margin: auto;
    width: 350px;
    padding-bottom: 90px;
    padding-top: 30px;
    background-color: #eff2dd;    
    mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/60px 101%;
}


ul{
    list-style-type: none;
}

button{
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: var(--button-color);
    transition: 0.5s ease;
    border-radius: 10px;
}

button:hover{
    background-color: #15b6b6;
}

#removeButton{
    background-color: rgb(253, 88, 88);
    color: red;
    padding: 1px;
    margin-right: 10px;
}

#addButton:hover{
    color: #FFFFFF;
    background-color: rgb(8, 172, 8);
}

#minusButton:hover, #removeButton:hover{
    color: #FFFFFF;
    background-color: rgb(255, 61, 61);
}

input{
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 20px;
}